<div>
  <ul>
    <li (click)="tab = 'GetOne'">Get One</li>
    <li (click)="tab = 'GetList'">Get list</li>
    <li (click)="tab = 'GetAll'">Get all</li>
    <li (click)="tab = 'DeleteOne'">Delete one</li>
    <li (click)="tab = 'PostOne'">Post one</li>
    <li (click)="tab = 'PatchOne'">Patch one</li>
  </ul>
  <div *ngIf="tab === 'GetOne'">
    <code style="white-space: break-spaces">
      {{oneUserCode}}
    </code>
    <pre>{{oneUser$ | async | json}}</pre>
  </div>
  <div *ngIf="tab === 'GetList'">
    <code style="white-space: break-spaces">
      {{listAddressesCode}}
    </code>
    <pre>
      pageNumber: {{(listAddresses$ | async)?.pageNumber}}
      totalItems: {{(listAddresses$ | async)?.totalItems}}
      pageSize: {{(listAddresses$ | async)?.pageSize}}
    </pre>
    <pre>{{listAddresses$ | async | json}}</pre>
  </div>
  <div *ngIf="tab === 'GetAll'">
    <code style="white-space: break-spaces">
      {{listAllAddressesCode}}
    </code>
    <pre>
      pageNumber: {{(listAllAddresses$ | async)?.pageNumber}}
      totalItems: {{(listAllAddresses$ | async)?.totalItems}}
      pageSize: {{(listAllAddresses$ | async)?.pageSize}}
    </pre>
    <pre>{{listAllAddresses$ | async | json}}</pre>
  </div>
  <div *ngIf="tab === 'DeleteOne'">
    <code style="white-space: break-spaces">
      {{deleteOneAddressesCode}}
    </code>
  </div>
  <div *ngIf="tab === 'PostOne'">
    <code style="white-space: break-spaces">
    {{postOneCode}}
    </code>
  </div>
  <div *ngIf="tab === 'PatchOne'">
    <code style="white-space: break-spaces">
      {{patchOneCode}}
    </code>
  </div>
</div>
