name: ⚙️ Publish


on:
  workflow_call:
    secrets:
      NPM_TOKEN:
        required: true

env:
  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
  NPM_CONFIG_PROVENANCE: true

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: "read"
      actions: "read"
      id-token: "write" # needed for provenance data generation
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Pull latest changes (from bump-version)
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"
          git pull origin ${{ github.ref_name }}

      - name: Setup Node.js
        uses: ./.github/actions

      - name: Build
        run: npx nx run-many -t build --parallel=3 --exclude='*,!tag:type:publish'

      - name: Publish packages
        run: npx nx release publish --access public

